{
  "profiles": {
    "http": {
      "commandName": "Project",
      "launchBrowser": true,
      "launchUrl": "swagger",
      "applicationUrl": "http://localhost:5176",
      "environmentVariables": {
        "ASPNETCORE_ENVIRONMENT": "Development",
        "VERSION": "Development 1.5.6",
        "DB_CONNECTION_STRING": "server=ip;database=db_name;port=6001;user=root;password=somePassword",
        "JWT_SECRET": "some lang secret",
        "DOMAIN_ADDRESS": "http://localhost:5000",
        "SMTP_CONNECTION_STRING": "addr__port__username__password",
        "EMAIL_TEMPLATES_PATH": "src/emails/",
        "PROXMOX_ADDR": "addr:port",
        "PROXMOX_TOKEN_ID": "root@pam!tokenname",
        "PROXMOX_TOKEN_SECRET": "token-secret",
        "PROXMOX_ISO_STORAGE": "Ceph-ISO",
        "PROXMOX_DATA_STORAGE": "VM_Data"
      }
    }
  }
}